*{
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  color: #48c9ec;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}
.cell {
  display: inline-block;       
  border: 1px solid #b9b9ba;
  width: 16px;
  height: 16px;
  margin-left: -1px;
  margin-bottom: -1px;
  border-radius: 50%;
  margin:2px;
  }

.died {
  background-color: white;
}

.life {
  background-color: #48c9ec;
}
  
.cell:hover { 
  background: #48c9ec;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.table {

  width: 610px;
  line-height: 0;
  margin: auto;
  margin-top: 20px;
}
  